/* #root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
/* } */

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/*
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


.layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-family: Poppins;
}

.ident {
  width: 30%;
  min-height: 556px;
  display: flex;
  flex-direction: column;
}

.about {
  width: 70%;
  min-height: 556px;
}
.ident-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;

}
.ident-button {
  height: 64px;
  width: 64px;
}

.navbar {
  display: flex;
  flex-direction: row;
}

.bottom-navbar {
  display: none;
}

@media (max-width: 1249px) {
  .layout {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .ident {
    width: 80%;
    min-height: 237px;
    display: flex;
    flex-direction: row;
  }
  .about {
    width: 80%;
  }

  .ident-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

}

@media (max-width: 768px) {
  .ident-button {
    height: 48px;
    width: 48px;
  }

  .ident-items {
    gap: 12px;
  }

}

@media(max-width: 690px) {

  .navbar {
    display: none;
  }
  .bottom-navbar {
    display: flex;
    flex-direction: row;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);

  }
}

@media (max-width: 640px) {
  .ident {
    width: 80%;
    min-height: 237px;
    display: flex;
    flex-direction: column;
  }

}

@media (max-width: 480px) {
  .about {
    width: 100%;
  }

  .ident{
    width: 100%;
  }
  .bottom-navbar {
    font-size: 12px;
  }

}